*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin-top: 6rem;
}

/* UTILS */

.container{
    width: 1140px;
    margin: 0 auto;
}

section{
    padding: 2.5rem 0;
}

ul{
    list-style-type: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

img{
    max-width: 100%;
}

h2{
    font-size: 2.5rem;
    font-weight: 400;
}

h3{
    font-size: 1.8rem;
    font-weight: 400;
}

.wt-section{
    text-align: center;
}

.wt-section h2{
    margin: 0.3rem 0 1.8rem 0;
}

.wt-section p{
    color: grey;
    font-size: 1.3rem;
}

.wt-section .button{
    background-color: dodgerblue;
    color: white;
    text-decoration: none;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    display: inline-block;
    margin: 2rem 0;
}

#jumbotron .button{
    text-decoration: none;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    display: inline-block;
    margin: 2rem 0;
}

/* HEADER */

header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

/* HEADER TOP */

.header-top{
    height: 2rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-top img{
    width: 6rem;
    margin-right: 1rem;
}

/* HEADER BOTTOM */

.header-bottom{
    background-color: white;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;
}

.header-bottom img{
    width: 4rem;
    margin-right: 0.5rem;
}

.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu li{
    margin: 0 0.6rem;
}

.header-bottom a{
    color: grey;
    text-decoration: none;
    margin-right: 0.5rem;
}

.header-bottom a:hover{
    color: rgb(74, 74, 74);
}

.header-bottom .button{
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    margin: 0 0.8rem;
}

.user .search{
    color: rgb(53, 53, 53);
}

.hamburger-menu{
    display: none;
    border: 1px solid rgb(195, 195, 195);
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
    color: rgb(53, 53, 53);
}

/* JUMBOTRON */

#jumbotron{
    min-height: 40rem;
    color: white;
    display: flex;
    align-items: flex-end;
}

.main-jumbotron{
    background-image: url('../img/jumbo-bg.png');
    background-position: center;
    background-size: cover;
}

.jumbotron-content img{
    width: 18rem;
}

.jumbotron-content p{
    width: 26rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.jumbotron-content .button{
    background-color: #CD3D10;
    color: white;
}

/* JUMBOTRON CARDS */

#jumbotron-cards{
    padding: 0;
    margin-top: 2rem;
}

#jumbotron-cards .col{
    width: calc(100% / 6);
    padding: 1rem;
}

#jumbotron-cards .col img{
    border-radius: 1rem;
    transition: transform 0.5s;
}

#jumbotron-cards .col img:hover{
    transform: translate(0, -20px);
}

/* PLAYSTATION 5 */

#playstation-5 .info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#playstation-5 span{
    color: dodgerblue;
}

.info .text{
    width: 40%;
    text-align: left;
}

.info figure{
    width: 60%;
}

.article .col{
    width: calc(100% / 5);
    padding: 1rem 3rem;
    opacity: 0.5;
}

.article img{
    margin-bottom: 1rem;
}

.article .col:hover{
    opacity: 1;
    border-bottom: 2px solid dodgerblue;
}

/* JUMBOTRON MULTIPLAYER */

.multiplayer{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;
}

.multiplayer .jumbotron-content{
    max-height: 100%;
}

.multiplayer .jumbotron-content h2{
    width: 25rem;
}

/* NEW RELEASES */

#new-releases{
    background-color: #1F1F1F;
    color: white;
    min-height: 10rem;
}

#new-releases h3{
    margin: 1rem 0;
}

#new-releases p{
    margin: 0.5rem 0 1.5rem 0;
}

#new-releases .col{
    width: calc(100% / 6);
    padding: 1rem;
}

#new-releases img{
    border-radius: 1rem;
}

/* PLAYSTATION 4 */

#playstation-4 .row{
    margin-top: 2rem;
}

#playstation-4 .col{
    width: calc(100% / 3);
    padding: 1rem;
    text-align: left;
}

#playstation-4 h2{
    margin-top: 3rem;
}

/* PLAYSTATION PLUS */

#playstation-plus{
    background-color: #BFBCBB;
    min-height: 100%;
    color: black;
    display: flex;
    align-items: flex-end;
    padding: 0;
}

#playstation-plus .row{
    align-items: center;
}

#playstation-plus .col{
    width: 50%;
}

#playstation-plus .jumbotron-content img{
    width: 25rem;
    margin-top: 4rem;
}

#playstation-plus .jumbotron-content p{
    width: 40rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: 2rem 0;
}

#playstation-plus .button{
    background-color: #D9DADC;
    color: dodgerblue;
    text-decoration: none;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    display: inline-block;
    margin: 2rem 0;
}

/* OFFER */

#offer h2{
    margin-top: 3rem;
}

#offer .row{
    margin-top: 3rem;
}

#offer .col{
    width: calc(100% / 3);
    padding: 1rem;
}

/* PLAYSTATION NOW */

#playstation-now{
    background-color: #151C3B;
    min-height: 100%;
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 0;
}

#playstation-now .row{
    align-items: center;
}

#playstation-now .col{
    width: 50%;
}

#playstation-now p{
    margin-top: 1rem;
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

#playstation-now .button{
    background-color: #D9DADC;
    color: black;
    text-decoration: none;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    display: inline-block;
    margin: 2rem 0;
}

/* SOCIAL */

#social h2{
    margin: 3rem 0;
}

#social .row{
    justify-content: center;
    margin-bottom: 3rem;
}

#social .col{
    width: calc(100% / 8);
    padding: 1rem;
}

/* FOOTER */

footer{
    background-color: #04449B;
    min-height: 30rem;
    padding: 2.5rem 0;
}

footer .col{
    width: 50%;
}

.row .row > .col{
    width: calc(100% / 3);
}

footer li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem 0;
}

footer img{
    width: 8rem;
}

footer p{
    width: 50%;
    color: white;
    margin: 2rem 0;
}

footer .footer-bottom p{
    margin: 0;
}

/* RESPONSIVE MD */

@media screen and (max-width:1200px) {

    .container{
        width: 720px;
    }    

    /* HEADER */

    .hamburger-menu{
        display: block;
    }

    nav{
        display: none;
    }

    .user{
        display: none;
    }

    /* JUMBOTRON */

    #jumbotron .jumbotron-content img{
        width: 60%;
    }

    .jumbotron-content p{
        width: 100%;
    }

    /* JUMBOTRON CARDS */

    #jumbotron-cards .col{
        width: calc(100% / 3);
    }

    /* PLAYSTATION 5 */

    .article .col{
        padding: 1.5rem;
    }

    /* JUMBOTRON MULTIPLAYER */

    .multiplayer .jumbotron-content img{
        width: 60%;
    }

    .multiplayer .jumbotron-content h2{
        width: 100%;
    }

    /* NEW RELEASES */

    #new-releases .col{
        width: calc(100% / 3);
    }

    /*  PLAYSTATION PLUS */

    #playstation-plus .jumbotron-content img{
        width: 15rem;
        margin-top: 0;
    }

    #playstation-plus .jumbotron-content p{
        width: 22rem;
        font-size: 1rem;
    }

    #playstation-plus .jumbotron-content a{
        margin: 0;
    }

    /*  PLAYSTATION NOW */

    #playstation-now .jumbotron-content img{
        width: 15rem;
        margin-top: 0;
    }

    #playstation-now .jumbotron-content p{
        width: 22rem;
        margin-bottom: 2rem;
    }
    
    #playstation-now .jumbotron-content a{
        margin: 0;
    }

    /* SOCIAL */

    #social .col{
        width: calc(100% / 5);
    }

    /* FOOTER */

    footer .col{
        width: 100%;
    }

    footer p{
        width: 100%;
    }

}

/* RESPONSIVE S */

@media screen and (max-width:768px) {

    .container{
        width: 540px;
    }  

    /* PLAYSTATION 5 */

    #playstation-5 .info{
        margin-top: 3rem;
    }

    .info .text, .info figure{
        width: 100%;
    }

    .article .col{
        width: calc(100% / 3);
    }

    /* PLAYSTATION 4 */

    #playstation-4 .col{
        width: 100%;
    }

    /*  PLAYSTATION PLUS */

    #playstation-plus .col{
        width: 100%;
    }

    #playstation-plus img{
        width: 20rem;
        margin: 2rem 0;
    }

    #playstation-plus .col:nth-child(2) img{
        display: none;
    }

    #playstation-plus .button{
        margin-bottom: 3rem;
    }

    /* OFFER */

    #offer .col{
        width: 100%;
    }

    /*  PLAYSTATION NOW */

    #playstation-now .col{
        width: 100%;
    }

    #playstation-now img{
        width: 20rem;
        margin: 2rem 0;
    }

    #playstation-now .col:nth-child(2) img{
        display: none;
    }

    #playstation-now .button{
        margin-bottom: 3rem;
    }

    /* SOCIAL */

    #social .col{
        width: calc(100% / 4);
    }

    /* FOOTER */

    .row .row{
        display: block;
    }

}

/* RESPONSIVE XS */

    @media screen and (max-width:576px) {

    .container{
        width: 100%;
        padding: 0 1rem;
    }  

    /* JUMBOTRON CARDS */

    #jumbotron-cards .col{
        width: calc(100% / 2);
    }

    /* NEW RELEASES */

    #new-releases .col{
        width: calc(100% / 2);
    }

    /* SOCIAL */

    #social .col{
        width: 50%;
    }
    
}