*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin-top: 6rem;
}

/* UTILS */

.container{
    width: 1140px;
    margin: 0 auto;
}

.row{
    display: flex;
    margin: 0 -1rem;
    flex-wrap: wrap;
}

img{
    max-width: 100%;
}

h2{
    font-size: 2.5rem;
    font-weight: 400;
    margin: 2.5rem 0;
}

h3{
    font-size: 1.8rem;
    font-weight: 400;
}

section{
    padding: 2rem;
}

.wt-section{
    text-align: center;
}

.wt-section h2{
    margin: 0.3rem 0 1.8rem 0;
}

.wt-section p{
    color: grey;
    font-size: 1.3rem;
}

.wt-section a{
    background-color: dodgerblue;
    color: white;
    text-decoration: none;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    display: inline-block;
    margin: 2rem 0;
}

/* HEADER */

footer{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

/* FOOTER TOP */

.footer-top{
    height: 2rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: end;
}

.footer-top img{
    width: 6rem;
    margin-right: 1rem;
}

/* FOOTER BOTTOM */

.footer-bottom{
    background-color: white;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;
}

.footer-bottom img{
    width: 4rem;
    margin-right: 0.5rem;
}

.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
    list-style-type: none;
}

.menu li{
    margin: 0 0.8rem;
    color: rgb(53, 53, 53);
}

.footer-bottom a{
    background-color: transparent;
    color: rgb(53, 53, 53);
    text-decoration: none;
    margin-right: 0.4rem;
    font-size: 1.1rem;
}

.footer-bottom i{
    color: rgb(181, 181, 181);
}

.footer-bottom .button{
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    margin: 0 0.8rem;
}

.user .search{
    color: rgb(53, 53, 53);
}

.hamburger-menu{
    display: none;
    border: 1px solid rgb(195, 195, 195);
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
    color: rgb(53, 53, 53);
}

/* JUMBOTRON */

#jumbotron{
    background-image: url('../img/jumbo-bg.png');
    background-position: center;
    height: 40rem;
    color: white;
    display: flex;
    align-items: flex-end;
}

.jumbotron-content img{
    width: 18rem;
}

.jumbotron-content p{
    width: 26rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.jumbotron-content a{
    background-color: #CD3D10;
    color: white;
    text-decoration: none;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    display: inline-block;
    margin: 2rem 0;
}

/* JUMBOTRON CARDS */

#jumbotron-cards .col{
    width: calc(100% / 6);
    padding: 1rem;
}

#jumbotron-cards .col img{
    border-radius: 1rem;
}

/* PLAYSTATION 5 */

#playstation-5 .info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#playstation-5 span{
    color: dodgerblue;
}

.info .text{
    width: 40%;
    text-align: left;
}

.info figure{
    width: 60%;
}

a{
    background-color: dodgerblue;
    color: white;
    text-decoration: none;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    display: inline-block;
    margin: 2rem 0;
}

.article .col{
    width: calc(100% / 5);
    padding: 3rem;
}

.article img{
    opacity: 0.5;
}

.article img:hover{
    opacity: 1;
}

.article img:hover .col{
    border-bottom: 1px solid dodgerblue;
}

/* JUMBOTRON MULTIPLAYER */

#jumbotron-multiplayer{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;
    min-height: 40rem;
    color: white;
    display: flex;
    align-items: flex-end;
}

#jumbotron-multiplayer .jumbotron-content{
    max-height: 100%;
}

#jumbotron-multiplayer .jumbotron-content h2{
    width: 25rem;
}

/* NEW RELEASES */

#new-releases{
    background-color: #1F1F1F;
    color: white;
    min-height: 10rem;
}

#new-releases h2{
    margin: 0;
}

#new-releases h3{
    margin: 1rem 0;
}

#new-releases p{
    margin: 0.5rem 0 1.5rem 0;
}

#new-releases .col{
    width: calc(100% / 6);
    padding: 1rem;
}

#new-releases img{
    border-radius: 1rem;
}

/* PLAYSTATION 4 */

#playstation-4 .row{
    margin-top: 2rem;
}

#playstation-4 .col{
    width: calc(100% / 3);
    padding: 1rem;
    text-align: left;
}

#playstation-4 h2{
    margin-top: 3rem;
}

/* JUMBOTRON PLAYSTATION PLUS */

#jumbotron-playstation-plus{
    background-image: url('../img/ps-plus-april-monthly-games-featured-image-block.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-color: #BFBCBB;
    min-height: 100%;
    color: black;
    display: flex;
    align-items: flex-end;
}

#jumbotron-playstation-plus .jumbotron-content img{
    width: 25rem;
    margin-top: 4rem;
}

#jumbotron-playstation-plus .jumbotron-content p{
    width: 40rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: 2rem 0;
}

#jumbotron-playstation-plus .jumbotron-content a{
    background-color: #D9DADC;
    color: dodgerblue;
    text-decoration: none;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    display: inline-block;
    margin-bottom: 4rem;
}

/* OFFER */

#offer h2{
    margin-top: 3rem;
}

#offer .row{
    margin-top: 3rem;
}

#offer .col{
    width: calc(100% / 3);
    padding: 1rem;
}

/* JUMBOTRON PLAYSTATION NOW */

#jumbotron-playstation-now{
    background-image: url('../img/ps-now-april-featured-image-block.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-color: #151C3B;
    min-height: 100%;
    color: black;
    display: flex;
    align-items: flex-end;
}

#jumbotron-playstation-now .jumbotron-content img{
    width: 25rem;
    margin: 4rem 0 2rem 0;
}

#jumbotron-playstation-now .jumbotron-content p{
    color: white;
    width: 38rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

#jumbotron-playstation-now .jumbotron-content a{
    background-color: #D9DADC;
    color: black;
    text-decoration: none;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    display: inline-block;
    margin-bottom: 4rem;
}

/* RESPONSIVE MD */

@media screen and (max-width:1200px) {

    /* FOOTER */

    .hamburger-menu{
        display: block;
    }

    nav{
        display: none;
    }

    .user{
        display: none;
    }

    /* JUMBOTRON */

    #jumbotron .jumbotron-content img{
        width: 60%;
    }

    .jumbotron-content p{
        width: 100%;
    }

    /* JUMBOTRON CARDS */

    #jumbotron-cards .col{
        width: calc(100% / 3);
    }

    /* PLAYSTATION 5 */

    .article .col{
        padding: 1.5rem;
    }

    /* JUMBOTRON MULTIPLAYER */

    #jumbotron-multiplayer .jumbotron-content img{
        width: 60%;
    }

    #jumbotron-multiplayer .jumbotron-content h2{
        width: 100%;
    }

    /* NEW RELEASES */

    #new-releases .col{
        width: calc(100% / 3);
    }

    /* JUMBOTRON PLAYSTATION PLUS */

    #jumbotron-playstation-plus .jumbotron-content img{
        width: 15rem;
        margin-top: 0;
    }

    #jumbotron-playstation-plus .jumbotron-content p{
        width: 22rem;
        font-size: 1rem;
    }

    #jumbotron-playstation-plus .jumbotron-content a{
        margin: 0;
    }

    /* JUMBOTRON PLAYSTATION NOW */

    #jumbotron-playstation-now .jumbotron-content img{
        width: 15rem;
        margin-top: 0;
    }

    #jumbotron-playstation-now .jumbotron-content p{
        width: 22rem;
        margin-bottom: 2rem;
    }
    
    #jumbotron-playstation-now .jumbotron-content a{
        margin: 0;
    }

}

/* RESPONSIVE S */

@media screen and (max-width:768px) {

    /* PLAYSTATION 5 */

    #playstation-5 .info{
        margin-top: 3rem;
    }

    .info .text, .info figure{
        width: 100%;
    }

    .article .col{
        width: calc(100% / 3);
    }

    /* PLAYSTATION 4 */

    #playstation-4 .col{
        width: 100%;
    }

    /* JUMBOTRON PLAYSTATION PLUS */

    #jumbotron-playstation-plus{
        background-image: none;
   
    }

    #jumbotron-playstation-plus .jumbotron-content img{
        width: 20rem;
    }

    #jumbotron-playstation-plus .jumbotron-content p{
        width: 100%;
    }

    #jumbotron-playstation-plus .jumbotron-content a{
        margin-bottom: 2rem;
    }

    /* OFFER */

    #offer .col{
        width: 100%;
    }

}

/* RESPONSIVE XS */

    @media screen and (max-width:576px) {

    section{
        padding: 1rem;
    }

    /* JUMBOTRON CARDS */

    #jumbotron-cards .col{
        width: calc(100% / 2);
    }

    /* NEW RELEASES */

    #new-releases .col{
        width: calc(100% / 2);
    }
    
}